.selectize-input { font-size: 75% !important; 
                   line-height: 10px !important;}
.selectize-dropdown {font-size: 75% !important; 
                     line-height: 10px !important; 
                     background-color: #CCCCCC}
.selectize-input div.item + input { display: inline-block !important; }
.selectize-input, .selectize-input.dropdown-active, .selectize-dropdown {
    border-radius: 0;
  }
.selectize-input { height: 10px !important; }
.selectize-input input[type=text] { height: 12px !important;
                        background-color: #CCCCCC} 

/* table formatting */
.dataTable {color: #000000}
.dataTables_filter {color: #FFFFFF}
.dt-right {color: #000000}
.sorting_asc {color: #FFFFFF}
.sorting {color: #FFFFFF}
.dataTables_info {color: #FFFFFF}

/* node tree formatting */

.jstree-node {font-size: 8px;}
.jstree-anchor {font-size: 10px;}


/*general shiny formatting */
.modal-lg {width: 95%;}
.navbar {margin-bottom: 0px;}
.multicol {-webkit-column-count: 3; /* Chrome, Safari, Opera */
           -moz-column-count: 3; /* Firefox */
           column-count: 3;}
                                           